/* SECONDARY CONTAINER */

.secondary_container {
  background-color: black;
}

.secondary_info {
  color: #fff;
  text-align: center;
  padding: 60px 0 0;
}

.secondary_info h2 {
  padding: 0 60px;
  margin-top: 40px;
}

.secondary_info button {
  margin-top: 20px;
}

.secondary_dishes div:last-of-type {
  border: none;
}

/* SECONDARY CONTAINER  */

@media screen and (min-width: 992px) {
  .secondary_container {
    display: flex;
    padding: 100px 0;
  }

  .secondary_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    margin-left: 80px;
  }

  .secondary_info h2,
  .secondary_info p {
    padding: 0;
    width: 80%;
  }

  .secondary_dishes {
    width: 60%;
    margin-top: 50px;
  }

  .secondary_dishes div:last-of-type {
    border: none;
  }
}
