:root {
  --primary-beaver: #9e7f66;
  --primary-cod-gray: #111;

  --secondary-mirage: #17192b;
  --secondary-clay: #242b37;
  --secondary-gray: #5c6779;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.2rem;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.6rem;
}

h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.grid-container {
  display: grid;
}
