/* SECONDARY CONTAINER */

.menu_wrapper {
  width: 100%;
  margin: auto;
}

.menu_header {
  background: url('../../assets/images/homepage/ready-bg-desktop.jpg');
  height: 8vh;
}

.menu_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu_container {
  display: flex;
  padding: 20px;
  flex-grow: 1;
}


.menu_items {
  width: 40%;
}

.menu_text {
  width: 40%;
  position: sticky;
  top: 0;
  padding: 20px 40px 0 0;
  margin-top: 10px;
}

.menu_text p {
  padding: 0;
}

.menu_cart {
  width: 20%;
  background-color: black;
  margin-top: 20px;
}

.menu_dishes {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu_dishes button {
  margin-bottom: 0;
  padding: 8px 16px;
  height: fit-content;
}

.dish_item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.dish_item_text {
  width: 60%;
}

.dish_item h2 {
  margin-top: 0;
}

.dish_item_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dish_item_btn button{
  padding: 4px 8px;
}

.dish_item img {
  width: 128px;
  height: 96px;
}

.menu_dishes h3,
.menu_dishes p {
  text-align: left;
  padding: 0;
  margin-left: 40px;
}

.menu_dishes p {
  font-size: 1.3rem;
}

.menu_dishes img {
  max-width: 256px;
  /* max-height: 192px; */
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  margin-right: 20px;
  width: fit-content;
}

.modal_show {

  background-color: #fff;
  width: 480px;
  height: 425px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 0 0;
  text-align: center;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu_form li {
  width: 80%;
  margin: auto;
  list-style: none;
}

.menu_form label {
  width: 60%;
  padding-right: 10px;
  font-size: 1.2rem;
}

.menu_form input[type="text"],
.menu_form input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  margin: 0 auto 12px;
  padding: 8px 16px;
  outline: none;
}

.menu_form input[type="date"],
.menu_form input[type="time"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  margin: 0 auto 12px;
  padding: 8px 16px;
  outline: none;
}

.date {
  display: flex;
  align-items: center;
}

.menu_form button {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form_price {
  font-size: 1.6rem;
}

.menu_wrapper footer {
  flex-shrink: 0;
}